*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

*.aux
*.swp
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
latex/*.pdf
posters/jl-tea/tex/*.pdf

*~

temp/
saved_results/
scratch/
source/temp.m
source/.metadata/
source/cblparallel/config.py
.metadata/
Link to source
test_results/
temp_figures/
*.unfinished
*.nans
*.oob

.DS_Store
examples/*.txt
examples/*/*
analyses/time-series/gpss.pdf
posters/jl-tea/tex/lloyd-tea-2013.pdf
posters/icml/tex/icml-2013.pdf
posters/icml/tex/icml-2013_small.pdf
analyses

source/config.py
data/temp
sandpit/

results/2013-09-28-solar-v2/
results/2013-09-30-solar-v1/
results/2013-09-30-solar-v2/


journal/time-series/*.pdf
papers/translation/autostat_translation.pdf

source/matlab/temp*

papers/workshop/autostat-nips-camera-ready.pdf


posters/icml
posters/jl-tea

results/debug/01-airline_predictions.mat

results/debug/01-airline_result.txt

results/debug-all/01-airline_predictions.mat

results/debug-all/01-airline_result.txt

results/debug-changewindow/01-airline_predictions.mat

results/debug-changewindow/01-airline_result.txt

papers/workshop/autostat-nips.pdf

papers/translation/autostat_translation_supp.pdf

*.backup

talks/msr-2014/auto-stat.pdf
papers/translation/autostat_supp_and_reports.pdf
papers/translation/temp2/
posters/murphy-2014/tex/autostat.pdf
art/
papers/translation/autostat_translation_submitted.pdf

talks/tms-2014/auto-stat-tms.pdf

source/R/postprocessing/.Rhistory

talks/meetup-london-2014/auto-stat-meetup.pdf

*.Rhistory

talks/aaai-2014/james-lloyd-discovery-aaai-2014.pdf
talks/aaai-2014/james-lloyd-plenary-aaai-2014.pdf

talks/aaai-2014/james-lloyd-discovery-aaai-no-appendix-2014.pdf

talks/aaai-2014/james-lloyd-discovery-aaai-no-appendix-2014.tex

talks/aaai-2014/james-lloyd-plenary-aaai-2014.pdf

talks/usa-harvard-stats-2014/auto-stat-harvard.pdf

talks/usa-technical-2014/james-robert-lloyd.pdf

talks/usa-mit-media-2014/auto-stat-mit.pdf

source/.idea/workspace.xml

source/.idea/vcs.xml

source/.idea/source.iml

source/.idea/scopes/scope_settings.xml

source/.idea/modules.xml

source/.idea/misc.xml

source/.idea/encodings.xml

source/.idea/dictionaries/JamesLloyd.xml

source/.idea/.name

source/.idea/inspectionProfiles/Project_Default.xml

source/.idea/inspectionProfiles/profiles_settings.xml

source/quick_tests.py
